* {
    font-family: var(--vt-c-font-popins);
}
.rodapedosguri{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5px solid rgb(0, 0, 0, 0.2);
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: 120px;
    background-color: white;
    position: relative;
    z-index: 20;
    box-sizing: border-box;
}
.theboys{
    display: flex;
    flex-direction: column;
}
.theboys div{
    display: flex;
    gap: 10px;
}
.created-by{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.created-by a {
    text-decoration: none;
    color: black;
    transition: .5s;
}
.created-by a:hover{
    color: blue;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 230px;
    font-size: 17px;
    
    & h2 {
        font-weight: 300;
    }
}

.box-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.direitos{
    margin-right: 100px;
}
.links a{
    text-decoration: none;
    color: black;
}