header {
    position: fixed;
    top: 33vh;
    right: 0;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 5px 2px 20px rgba(53, 52, 52, 0.7);
    width: 27px;
    height: 200px;
    transition: ease-in-out 0.2s;
    z-index: 30;
    background-color: white;

    &:hover {
        width: 130px;
    }

    &:hover .box-span {
        display: flex;
        width: 100%;
        padding-left: 15px;
        gap: 15px;
    }

    &:hover .text-span {
        font-size: 14px;
        display: block;
        opacity: 1;
        align-items: center;
    }
  
}

.container-header {
    width: 100%;
    height: 100%;
}

.navigation-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    gap: 10px;
    z-index: 10;
    position: relative;
}

.text-span {
    opacity: 0;
    display: none;
}

.text-span-content {
        text-decoration: none;
        color: black;

    &:hover {
        color: rgb(68, 68, 68);
    }
}

.box-span {
    transition: ease-in-out 0.2s;
}

