.home-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 20px;
    position: relative;
}
.card{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    flex-direction: column;
    gap: 20px;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.1);
}
.card > img{
    width: 100%;
    height: 200px;
}
.card > p{
    padding: 30px;
    font-size: 18px;
}
.obj-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.obj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
    padding: 20px;
}
.photo > img{
    width: 100%;
    height: 250px;
}
.title > p{
    font-size: 45px;
    text-align: center;
    font-weight: 100;
}
.card-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}