* {
    font-family: var(--vt-c-font-popins);
}
.container-members-span {
    width: 300px;
    height: 500px;
    background-color: #D9D9D9;
    display: block;
    border-radius: 10px;
    transition: 0.2s;
    position: relative;
    margin-top: 20px;
    &:hover .overlay-about {
        opacity: 1;
    }
}

.overlay-about {
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    bottom: 0;
    border-radius: 10px;
}

.container-members {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.box-img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 80%;
        height: 90%;
        border-radius: 50%;
    }
}
.box-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.box-texts {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    & p {
        font-size: 18px;
        font-weight: 200;  
    }

    & h2 {
        font-size: 25px;
        font-weight: 200;
    }
}

.box-languages {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.boxes {
    width: 20%;
    height: 90%;
    color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-members {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    height: 100dvh;
}

@media (max-width: 300px) {
    .container-members-span {
        width: 250px;
    }
}