.detail-Container {
  margin: 0;
  border: 0.02rem solid gray;
  width: 0;
  height: 100dvh;
  z-index: 30;
  border-radius: 1rem;
  right: 0;
  background-color: rgb(192, 190, 190);
  opacity: 0;
  position: fixed;
  transition: 0.3s;
}

.detail-Container.open {
  display: flex;
  opacity: 1;
  margin-right: 0px;
  width: 70%;
}

.detail-header {
  box-shadow: 0 0.2rem rgba(41, 40, 40, 0.288);
}

.detail-tittle {
  margin-left: 2%;
}

.detail-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2%;
}

.detail-article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.detail-text {
  min-height: 70%;
  max-height: 70%;
  border-bottom: 0.1rem solid gray;
  padding: 5%;
}

.detail-box-img {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;

  & img {
      width: 80%;
      height: 90%;
      border-radius: 50%;
  }
}


.detail-languages {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.detail-boxes {
  width: 20%;
  height: 90%;
  color: rgb(50, 50, 50);
  display: flex;
  justify-content: center;
  align-items: end;
}

.detail-prj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
}

.detail-prj > ul {
  list-style: none;
}

